@model DepartmentViewModel

<div class="form-group mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="fs-6 text-danger"></span>
</div>