@model RequestViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container my-4">
    <h2 class="mb-2">Appoinment Details</h2>
    <hr />
    <div class="my-3">
        <div class="form-group mb-3  ">
            <label asp-for="Status" class="form-label"></label>
            <input asp-for="Status" class="form-control" readonly />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" readonly />

        </div>
        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" readonly />

        </div>
        <div class="form-group mb-3">
            <label asp-for="CV" class=" mr-2"></label>
            <a asp-action="DownloadFile" asp-route-fileName="@Model.FileName" class="btn btn-primary"> Download Cv </a>
        </div>
    </div>

    <div>

        <a asp-action="CreateDoctor" asp-controller="Admin"  class="btn btn-primary mx-3">Approoved</a>
        <button class="btn btn-danger" onclick="Cancelled()">Cancelled</button>
        <a asp-action="Index" class="btn btn-light mx-3">Back to list</a>

    </div>
</div>
<partial name="PartialViews/_CancelledRequestPartialView" />

@section Scripts{
    <script>


        function Cancelled() {
            $(".cancelled").modal("show")
        }
        function OnCloseModalCancelled() {
            $(".cancelled").modal("hide")

        }

    </script>
}