@using SymptomChecker.Models
@model DoctorViewModel 


<label class="col-form-label" asp-for="UserName" ></label>
<input  readonly asp-for="UserName" class="form-control"/>

<label class="col-form-label" asp-for="Location" ></label>
<input  readonly asp-for="Location" class="form-control"/>


<label class="col-form-label" asp-for="WorkingHours" ></label>
<input  readonly asp-for="WorkingHours" class="form-control"/>



<label class="col-form-label" asp-for="phoneNumber" ></label>
<input  readonly asp-for="phoneNumber" class="form-control"/>

<label class="col-form-label" asp-for="DNO" ></label>
<input  readonly asp-for="DNO" class="form-control"/>

<a href="tel:+2{$@Model.phoneNumber}">call now </a>

