@model WebApplication5.ViewModels.AppoinmentViewModel


<h1>Appointment</h1>
<div id="calendar"></div>


<partial name="PartialViews/_AppoinmentModalPartialView" />
@section Scripts{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src="~/js/Appoinment.js"></script>
        <partial name="_ValidationScriptsPartial" />
}