@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="home-pg " id="home">

   

            <div class="content text-center position-relative">
                <div class="caption text-white position-absolute h-100 text-center top-0 start-0 w-100">
                    <div class="text1 text-white text-center ">
                        <h1 class="text-white ">Medical checker</h1>
                    <button class="btn border-3 m-3  text-white">Contact</button>
                    </div>
                    
                </div>
               
            </div>
        </div>

        <div class="container  mt-5 pt-5 h-100" >
            <div class="row">
                <div class="col-md-4 ms-md-2 ">
                    <div class="about-text text-center pt-5 mt-5  w-90">
                        <h1>Symptom Checker</h1>
                        <p>Start now to find the right medicine that suits your fatigue.</p>
                        <p>( This is like consulting a doctor )</p>
                             <button class="btn border-3 bg-dark text-white mt-2 p-2 pe-3 ps-3">Start Now</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 me-0 ">
                    <img src="../Images/723cde50-7630-43cd-8ed6-2b8993f8d50c.jpg" class="w-100 h-100">
                </div>
            </div>
           
            <a class="upward d-flex justify-content-center align-items-center" href="#home">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
        <div class="container Finddoctor mt-5 pt-5  h-100" id="Finddoctor">
            <div class="row"><div class="col-md-6 ms-md-2 ">
                    <img src="../Images/ac8b8e9a-fd8f-4950-b38d-0700e9e6cc38.jpg" class="w-100 h-100">
                </div>
            
                <div class="col-md-1"></div>
                  <div class="col-md-4 ms-md-2 ">
                    <div class="about-text text-center pt-5 mt-5  w-90">
                        <h1>Find a Doctor</h1>
                        <p>Start now to find a doctor near you and book an appointment with him.</p>
                             <button class="btn border-3 bg-dark text-white mt-2 p-2 pe-3 ps-3">Start Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container mt-5 pt-5 h-100" >
            <div class="row">
                <div class="col-md-4 mt-5 ">
                    <div class="about-text text-center pt-5 mt-5  w-90">
                        <h1>Find Drugs</h1>
                        <p>Start now to find the name of drugs and details about them.</p>
                             <button class="btn border-3 bg-dark text-white mt-2 p-2 pe-3 ps-3">Start Now</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 me-0  ">
                    <img src="../Images/b18aad13-4a03-484a-a840-e74149c6a5b3.jpg" class="w-100 h-100  ">
                </div>
            </div>
        </div>

<partial name="_Notification" />